@model GummyKing.Models.Product

@{
    ViewData["Title"] = "Gummy King";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="dt">
    <div class="img">
    
    </div><!--img-->
    <div class="name">
        <h3>@Html.DisplayNameFor(model => Model.Name) : </h3>
        <h2>@Html.DisplayFor(model => Model.Name)</h2> 
    </div><!-- .name-->
    <div class="price">
        <h3>@Html.DisplayNameFor(model => Model.Price) : </h3>
        <h2>@Html.DisplayFor(model => Model.Price)</h2> 
    </div><!-- price-->

</div><!--.dt-->


<h4>@Html.ActionLink("Back to List", "Index")</h4>